/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Styles */
body {
    background: linear-gradient(to top, #000dff, #0199f8);
    background-attachment: fixed;
    color: #fff;
    font-family: Poppins;
    min-height: 100dvh;

    &.css {
        background: linear-gradient(to top, #663399, #0e0715);
        background-attachment: fixed;
        color: #caa0f5aa;

        main {
            header.mmenu {
                h1 {
                    border-bottom: 2px solid #caa0f5aa;
                }

                img {
                    border: 4px solid #caa0f5aa;
                }
                ul, ol {
                    color: #fff9;
                    text-align: left;
                }
            }

            menu.mmenu {
                a:is(:link, :visited) {
                    &:hover {
                        background-color: #663399;

                        aside {
                            h4 {
                                color: #fff9;
                            }
                        }
                    }

                    span {
                        background-color: #663399;
                        height: 50px;
                        font-size: 1.4rem;
                        width: 50px;
                        color: #fff9;
                    }

                    aside {
                        h4 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    &.html {
        background: linear-gradient(to top, #e44d26, #1f0a05);
        background-attachment: fixed;
        color: #f9966baa;

        main {
            header.mmenu {
                h1 {
                    border-bottom: 2px solid #f9966baa;
                }

                img {
                    border: 4px solid #f9966baa;
                }
            }

            menu.mmenu {
                a:is(:link, :visited) {
                    &:hover {
                        background-color: #e44d26;

                        aside {
                            h4 {
                                color: #fff9;
                            }
                        }
                    }

                    span {
                        background-color: #e44d26;
                        height: 50px;
                        font-size: 1.4rem;
                        width: 50px;
                        color: #fff9;
                    }

                    aside {
                        h4 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    &.emmet {
        background: linear-gradient(to top, #7acb16, #192a05);
        background-attachment: fixed;
        color: #baffa9aa;

        main {
            header.mmenu {
                h1 {
                    border-bottom: 2px solid #baffa9aa;
                }

                img {
                    border: 4px solid #baffa933;
                }
            }

            section {
                h2.subtitle {
                    align-items: center;
                    background-color: #7acb16;
                    border-radius: 8px;
                    color: #0009;
                    display: flex;
                    font-weight: 500;
                    justify-content: space-between;
                    margin: 0;
                    padding: 0.4rem;

                    span {
                        align-items: center;
                        background-color: #0009;
                        font-size: 0.8rem;
                        border-radius: 50%;
                        color: #fffc;
                        display: flex;
                        height: 30px;
                        justify-content: center;
                        width: 30px;
                    }
                }

                small {
                    color: #fff9;
                }

                h3 {
                    margin: 0;
                    border-bottom: 1px dotted #baffa9aa;
                }

                p {
                    color: #fff9;
                    font-size: 1.2rem;
                }

                xmp {
                    background-color: #0009;
                    border-radius: 8px;
                    color: #fffc;
                    padding: 0.4rem;
                }
            }
        }
    }

    nav.goback {
        align-items: center;
        border-radius: 50%;
        border: 2px solid #fff;
        display: flex;
        height: 40px;
        justify-content: center;
        left: 6px;
        opacity: .6;
        position: fixed;
        top: 6px;
        transition: all 0.4s ease-in;
        width: 40px;
    }
}

a:is(:link, :visited) {
    display: flex;
    justify-content: center;
    align-items: center;
}

&:hover {}




main {
    background: linear-gradient(to bottom, #0009, #0000);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1.4rem auto;
    width: 380px;
    flex-wrap: wrap;

    header.mmenu {
        text-align: center;

        &.internal {
            h1 {
                font-size: 2rem;

                img {
                    height: 80px;
                    width: 80px;
                }

                ;
            }
        }

        h1 {
            font-size: 3rem;
            font-weight: 200;
            border-bottom: 2px solid #eddcb9aa;
            margin: 0;
        }

        h2 {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
        }

        img {
            margin: 2rem auto;
            border: 4px solid #eddcb933;
            border-radius: 50%;
            object-fit: cover;
            height: 280px;
            width: 280px;
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 600;
            margin: 0;
        }

        h4 {
            font-size: 0.94rem;
            font-weight: 200;
            margin: 0;
        }

        h5 {
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
        }
    }

    section {
        background-color: #0009;
        ;
        border-radius: 8px;
        padding: 0.6rem;
        min-height: 240px;
        width: 380px;

        h3.subtitle {
            font-weight: 500;
            border-bottom: 0.4rem;
            border-bottom: 2px dotted #fff9;
        }

        p {
            color: #fff9;
            text-align: justify;
        }
    }

    menu.mmenu {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 2rem auto;
        gap: 0.6rem;
        justify-content: center;

        a:is(:link, :visited) {
            background-color: #0009;
            border-radius: 5rem;
            text-decoration: none;
            color: #eddcb9aa;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 0.6rem;
            transition: all 0.4s ease-in;
            width: 280px;

            &:is(:hover) {
                background-color: #0199f8;
                color: #0009;
                transform: scale(1.05) translateX(16px);

                span {
                    background-color: #0009;
                    color: #fff9;
                }

                aside {
                    small {
                        color: #0004;
                    }
                }
            }

            span {
                align-items: center;
                display: flex;
                font-size: 1.8rem;
                border-radius: 50%;
                background-color: #000dff;
                color: #0009;
                justify-content: center;
                height: 60px;
                transition: all 0.8s ease-out;
                width: 60px;
            }

            aside {
                display: flex;
                justify-content: center;
                margin-left: 0.6rem;
                flex-direction: column;
                align-items: start;

                h4 {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin: 0;
                }

                small {
                    font-size: 0.6rem;
                    color: #eddcb944;
                }
            }
        }
    }
}